[submodule "yocto/poky"]
	path = yocto/poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "yocto/meta-raspberrypi"]
	path = yocto/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = kirkstone
[submodule "yocto/meta-security"]
	path = yocto/meta-security
	url = git://git.yoctoproject.org/meta-security
	branch = kirkstone
[submodule "yocto/meta-aesd"]
	path = yocto/meta-aesd
	url = https://github.com/Pooria4484/meta-aesd-layer
[submodule "yocto/meta-openembedded"]
	path = yocto/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
